.app-main-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-header{
    color: rgba(0, 204, 255, 0.813);
    font-size: 2.1rem;
    font-family: monospace;
    user-select: none;
    text-align: center;
}
input{
    width: 500px;
    padding: 14px 17px;
    color: white;
    border:2px solid transparent;
    border-radius: 0.5rem;
    background-color: rgb(58, 71, 81);
    font-size: 16px;
}
input:focus{
outline: none;
border: 2px solid;
   border-color: rgba(0, 204, 255, 0.813);
    
}
input::placeholder{
    font-size: 15px;
}
.generate-image{
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.app-btn{
    background-color: rgba(0,204,255,0.813);
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.app-img{
    margin-top: 50px;
}
button{
  background-color: white;
  border: 0;
  padding: 0.7rem 2rem;
  font-size: 4rem;
  font-family: monospace;
  box-shadow: 0px 5px 10px rgba(darken(dodgerblue, 40%));
  transition: all .3s;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid lighten(gray, 70%);
}
button:hover{
    box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
    transform: scale(1.05);
}
button:active{
    box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
    transform: scale(.90)
}

@media only screen and (max-width:768px){
    .app-header{
        font-size: 1.8rem;
        margin-left: auto;
        margin-right: auto;
    }
    .generate-image{
        flex-direction: column;
        align-items: center;
    }
    input{
        width: 90%;
    }
    .app-btn{
        margin-top: 15px;
        width: 50%;
        text-align: center;
        font-size: 1rem;
        padding-left: 5px;
        padding-right: 5px;
    }

}